.App {
  @media only screen and (min-width: 1000px) {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  @media only screen and (max-width: 1000px) {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

body::-webkit-scrollbar {
  display: none;
}
