@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-Regular.ttf");
}

@keyframes intensifyBlackness {
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;

  svg {
    box-sizing: content-box;
  }
}

html,
body {
  width: calc(max(320px, 100vw));
  height: calc(max(700px, 100vh));
}

body {
  @media screen and (min-width: 1000px) {
    background-image: url("./background.svg");
    background-size: cover;
  }
  @media screen and (max-width: 1000px) {
    background-image: url("./background-vertical.jpg");
    background-size: cover;
  }
}

#root {
  height: 100%;
  width: 100%;
}
