.allSongsListingContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  place-self: center;
  justify-items: center;
  height: calc(max(400px, 65vh));
  -ms-grid-rows: 60px 90%;
      grid-template-rows: 60px 90%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media only screen and (min-width: 1000px) {
  .allSongsListingContent {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    width: 70%;
    -webkit-transform: translateY(4.5vh);
            transform: translateY(4.5vh);
  }
}

@media only screen and (max-width: 1000px) {
  .allSongsListingContent {
    -ms-grid-column: 1;
    grid-column: 1/1;
    width: 90%;
  }
}

.allSongsListingContent .allSongsField {
  width: 95%;
  height: 95%;
  overflow-y: scroll;
  border-radius: 20px;
  -webkit-box-shadow: inset -3px -3px 7px #ffffff5d, inset 3px 3px 5px rgba(0, 0, 0, 0.432);
          box-shadow: inset -3px -3px 7px #ffffff5d, inset 3px 3px 5px rgba(0, 0, 0, 0.432);
}

.allSongsListingContent .allSongsField::-webkit-scrollbar {
  display: none;
}

.allSongsListingContent .allSongsField .allSongsTileContainer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 200px;
  place-items: center;
  margin-top: 20px;
}

.allSongsListingContent .allSongsField .allSongsTileContainer:first-child {
  margin-top: 35px;
}

.allSongsListingContent .allSongsField .allSongsTileContainer:last-child {
  margin-bottom: 35px;
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile {
  display: -ms-grid;
  display: grid;
  background-color: rgba(255, 255, 255, 0.089);
  -ms-grid-rows: 1.3fr 1.3fr 2fr;
      grid-template-rows: 1.3fr 1.3fr 2fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  width: 90%;
  height: 200px;
  place-items: center;
  border-radius: 20px;
  -webkit-box-shadow: -3px -1px 7px #ffffff41, 3px 3px 5px rgba(0, 0, 0, 0.411);
          box-shadow: -3px -1px 7px #ffffff41, 3px 3px 5px rgba(0, 0, 0, 0.411);
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 70px 30% auto;
      grid-template-columns: 70px 30% auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  grid-column: 1/1;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart .userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart .userName {
  color: whitesmoke;
}

@media only screen and (min-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart .userName {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart .userName {
    font-size: 11px;
  }
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart .userCountry {
  color: whitesmoke;
}

@media only screen and (min-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart .userCountry {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileUserPart .userCountry {
    font-size: 11px;
  }
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileArtistsPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileArtistsPart .artistName {
  width: auto;
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileArtistsPart .artistName {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileArtistsPart .artistName {
    font-size: 11px;
  }
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  width: 100%;
  height: 100%;
  place-items: center;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

@media only screen and (min-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart {
    -ms-grid-columns: 100px auto 100px;
        grid-template-columns: 100px auto 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart {
    -ms-grid-columns: 60px auto 60px;
        grid-template-columns: 60px auto 60px;
  }
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart .albumAnchor {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart .albumAnchor .albumImg {
  border-radius: 20%;
}

@media only screen and (min-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart .albumAnchor .albumImg {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart .albumAnchor .albumImg {
    height: 40px;
    width: 40px;
  }
}

.allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart .songName {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart .songName {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .allSongsListingContent .allSongsField .allSongsTileContainer .allSongsTile .allSongsTileSongPart .songName {
    font-size: 10px;
  }
}
/*# sourceMappingURL=AllSongsListingContent.css.map */