.mainText {
  width: 100%;
  color: white;
  font-weight: normal;
  font-size: clamp(22px, 5vmin, 10vmin);

  @media only screen and (min-width: 1000px) {
    text-align: start;
    height: 100%;
    padding: 120px 0 0 50px;
  }

  @media only screen and (max-width: 1000px) {
    text-align: center;
    height: 30%;
    padding-top: 40px;
  }
}
