.main {
  display: grid;
  height: 95%;

  @media only screen and (min-width: 1000px) {
    width: 95%;
    //calc function works like a workaround for ´´Internal Error: Incompatible units: 'px' and 'vh',,
    grid-template-rows: 80px 65vh 1fr;
    grid-template-columns: 45% 1fr 45%;
  }

  @media only screen and (max-width: 1000px) {
    width: 95%;
    grid-template-rows: 80px 8fr 1fr;
    grid-template-columns: 100%;
  }

  border: solid white 10px;
  border-radius: 30px;
}
